.MMM-MyTimerModule .moduleDiv {
  background-color: transparent;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.MMM-MyTimerModule .timerDiv {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
}

.MMM-MyTimerModule .buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.MMM-MyTimerModule .secondRow {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.MMM-MyTimerModule .btnClass {
  text-transform: uppercase;
  color: #646464;
  outline: none;
  padding: 0px;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  justify-content: center;
  align-content: center;
}

.MMM-MyTimerModule #startButton:disabled {
  display: none;
}
.MMM-MyTimerModule #stopButton:disabled {
  display: none;
}
.MMM-MyTimerModule #muteButton:disabled {
  display: none;
}

.MMM-MyTimerModule .btnClass:active {
  color: wheat;
}

.MMM-MyTimerModule .timeDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*padding-top: 1rem;*/
}
.MMM-MyTimerModule .timeDiv .timeDisplay {
  text-align: left;
}
.MMM-MyTimerModule #seconds {
  padding-right: 0.8vw;
}
.MMM-MyTimerModule .timeDiv .btnClass {
  width: 4vw;
  margin-left: 0vw;
  padding-left: 0vw;
}
.MMM-MyTimerModule .timeDiv .btnClass:disabled {
  display: none;
}

.MMM-MyTimerModule .horizontalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MMM-MyTimerModule .timeDisplay {
  font-size: 4rem;
}
